{% extends 'core/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block background %} {% static 'core/img/blog-bg.jpg' %} {% endblock %}
{% block headers %}
    <h1>Mi blog, Donde te cuento mi vida</h1>
    <span class="subheading">
        Si quieres conocerme, lee un poco de esto.
    </span>
{% endblock %}
{% block content %}
    <style>
        .post{
            width: 100%;
            margin-bottom: 150px;
            border-bottom: 6px solid #95a5a6;
        }
        .post-imageContainer{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .post-image{
            width: 100%;
            height: 100%;
            max-width: 800px;
            max-height: 400px;
            box-shadow: 3px 3px 3px 3px #748386;
        }
        .post-contentContainer {
            align-content: center;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .post-titleContainer{
            display: flex;
            justify-content: center;
        }
        .post-title{
            font-size: 50px;
            justify-self: center;
        }
        .post-linkContainer{
            display: flex;
            justify-content: center;
        }
        .post-link{
            display: inline-block;
            padding: 3px 8px;
            font-size: 15px;
            font-weight: 600;
            margin-right: 2px;
            margin-bottom: 2px;
            background: #08f;
            color: #ffffff !important;
            line-height: normal;
            box-sizing: inherit;
            margin-top: 30px;
        }
    </style>
    <main>
        {% for post in post_list %}
            <article class="post">
            <div class="post-imageContainer">
                <img class="img-responsive post-image" src="{{ post.relevant_image.url }}" alt="">
            </div>
            <div class="post-contentContainer">
                    <div class="post-linkContainer">
                        <a href="#" class="post-link">{{ post.category }}</a>
                    </div>
                    <div class="post-titleContainer">
                        <h4 class="title post-title">
                            <a href="{% url 'blog_detail' post.pk %}" style="font-size: 55px;">{{ post.title }}</a>
                        </h4>
                    </div>
                <div class="post-entry">
                    <span class="font-italic">
                        <img class="img-fluid avatar" style="max-width: 80px; max-height: 80px" src="{% static 'core/img/avatar.jpg' %}" alt="">
                        <i>Cheke  </i>
                    </span>
                    <span class="font-italic">
                        <b>{{ post.created|date:"b d, y" }}</b>
                    </span>
                    <br>
                    <span class="font-italic">
                        <b>Tiempo de lectura {{ post.reading_time }} minutos</b>
                    </span>
                </div>
                <div class="entry-content">
                    <p class="text-lg-center">{{ post.introduction_text }}</p>
                    <a href="{% url 'blog_detail' post.pk %}">Seguir Leyendo</a>
                </div>
            </div>
    </article>
        {% endfor %}
    </main>
{% endblock %}