{% extends 'core/base.html' %}
{% block title %}Acerca De Mi{% endblock %}
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Quien soy</span>
{% endblock %}
{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Cheke Ramirez</h2>
          <p>
              Hey, seguramente te estes preguntando quien es Cheke Ramirez? La respuesta esta aqui.
          </p>
                  <ul>
            <li>13 años🙍‍♂️️</li>
            <li>
                Mexicano, con un chingo de gusto por serlo
🇲🇽            </li>
            <li>Apenas llevo la secundaria :(.</li>
            <li>Uso Linux y Windows(No me alcanza para una Mac)</li>
            <li>Empeze a programar por que queria hacer videojuegos(Creo que todos iniciarion asi)</li>
            <li>Amo el buen diseño, y el arte en general pero no se me da</li>
            <li>Odio el Té</li>
            <li>Me encanta viajar ✈️</li>
            <li>Python Y Django🐍 </li>
            <li>Tambien Javascript👌</li>
              </ul>
        </div>
      </div>
    </div>
{% endblock %}