{% extends 'core/base.html' %}
{% block title %}Contactame{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">¿Te gusta lo que hago?</span>
    <span class="subheading">
        Descubre mas de mi, o manda un mensaje
    </span>
{% endblock %}
{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul>
                <li>
                    Twitter:
                <a href="https://twitter.com/Cheke_GT">
                    <strong>@Cheke_GT</strong>
                </a>
                </li>
                <li>
                    Github:
                    <a href="https://github.com/ChekeGT">
                        <strong>@ChekeGT</strong>
                    </a>
                </li>
                <li>
                    Mail:
                    <strong>chekelosos@gmail.com</strong>
                </li>
                <li>
                    Siempre estoy pendiente 🙂
                </li>
            </ul>
        </div>
      </div>
    </div>
{% endblock %}